@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

#canvas{
    background-color: cyan;
}

#search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#heading{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    color: darkgreen;
    text-align: center;
    font-weight: 1000;
}

.body-container{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    margin: 15px;
}

.div-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    font-size: 25px;
    flex: 30%;

    border-radius: 10px 10px 10px 10px;
    border: 4px solid #000000;
    margin: 5px;
    padding: 10px;

    background-image: url("https://images.stockfreeimages.com/952/sfixl/9521503.jpg");
    background-repeat: no-repeat;
    background-size: 420px 300px;
    color: darkblue;
}

#srch-div{
    background-image: url("https://images.stockfreeimages.com/952/sfixl/9521503.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    max-width: 420px;
    max-height: 400px;
}

#search-box{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    width: 300px;
    height: 30px;
}

#search-box::-webkit-outer-spin-button, #search-box::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#search-btn{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: darkblue;
    color: white;
}

#refresh-btn{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: darkgreen;
    color: white;
}